<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".BudgetTrackerApp"
        android:allowBackup="true"
        android:label="Budget Tracker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".PaydayReminderReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.urfavxbf.budgettracker.ACTION_PAYDAY_REMINDER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".CrashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
